<h1>Signup</h1>
<form (ngSubmit)="signup()" #signupForm="ngForm">
  <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input type="test" class="form-control" id="password" [(ngModel)]="user.password" name="password">
  </div>
  <button type="submit" class="btn btn-success">Go</button>
</form>

<h1>Login</h1>
<form (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" id="email" required [(ngModel)]="user_s.email" name="email">
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input type="test" class="form-control" id="password" [(ngModel)]="user_s.password" name="password">
  </div>
  <button type="submit" class="btn btn-success">Go</button>
</form>

<br>
<hr>
<br>
{{user_s | json}}